@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
}

.cover{
    background-image: url('./media/Rectangle\ 55.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

section{
    width: 90%;
    margin: 0 auto;
    /*display: grid;
    grid-template-areas: 'div1'
                        'div2'
                        'div3';
    grid-template-rows: 0.2fr 1fr 0.2fr;*/
}

header{
    grid-area: div1;
    grid-row: 1/2;
    height: 20vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #1F1F1F;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li{
    list-style: none;
    margin: 0 10px;
}

nav button{
height: 64px;
width: 163px;
border-radius: 6px;
background: #010930;
color: white;
}

nav a{
    font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
    text-decoration: none;
    color: #595959;
}

.hamburger{
    display: none;
}

.hamburger div {
    display: none;
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    color: black;
}

.showcase{
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.showcase p{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #393939;
}

.showcase h3{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #010930;
height: 98px;
width: 375px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliders{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.sliders img{
    height: 50px;
    width: 50px;
    border: 2px;
    height: 20vh;
}

.detail{
    height: 51px;
    width: 244px;
}

.detail p{
    font-family: Montserrat;
font-size: 1em;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: white;
}



@media only screen and (max-width: 700px), only screen and (max-width: 500px){
    html, body{
        overflow: hidden;
    }
    
    body{
        margin: 0;
        padding: 0;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
    }

    .cover{
        background-image: url('./media/Rectangle\ 55.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;

    }
   
    section{
        width: 90%;
        margin: 0 auto;
    }

    nav button{
        height: 30px;
        width: 80px;
        border-radius: 3px;
        background: black;
        color: white;
        cursor: pointer;
    }

    nav h1{
        font-size: 1.5em;
    }

    .showcase{
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70vh;
    }

    .showcase h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 49px;
        color: #010930;
        padding: 20px;
        font-size: 2.0em;
        text-align: center;
    }

    .showcase p{
        text-align: center;
        color: #010930;
    }

    .sliders{
        width: 30%;
    }

    nav.li{
        display: none;
    }
    
    .hamburger div {
        display: block;
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 5px;
        color: black;
    }

    .hamburger{
        display: block;
    }

    nav ul{
        height: 90vh;
        width: 100vw;
        background-color:#010930 ;
        position: fixed;
        top: 15%;
        left: 0%;
        opacity: 0.9;
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(1000px);
        color: white;
        z-index: 1;
        transition: 0.3s ease-in-out;
    }

    nav a{
        color: rgb(225, 226, 132);
    }

    nav a:hover{
        color: yellow;
    }

    .show{
        transform: translate(0);
    }


    .sliders img{
        height: 25px;
        width: 25px;
        border: 2px;
        cursor: pointer;
    }

    footer{
        height: 20vh
    }

    .detail{
        height: auto;
        width: 60%;
    }

    .detail p {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }
}

